<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>382302337690-2dr2obj6v179um1dofob44s5o2tc5io2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.382302337690-2dr2obj6v179um1dofob44s5o2tc5io2</string>
	<key>API_KEY</key>
	<string>AIzaSyDwOk4s6kjuRr4TeNGwYM6hn1NMQvYPqGs</string>
	<key>GCM_SENDER_ID</key>
	<string>382302337690</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.willynogs.EarlyBird</string>
	<key>PROJECT_ID</key>
	<string>early-bird-1521160102719</string>
	<key>STORAGE_BUCKET</key>
	<string>early-bird-1521160102719.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:382302337690:ios:5a7025e6f22d654e</string>
	<key>DATABASE_URL</key>
	<string>https://early-bird-1521160102719.firebaseio.com</string>
</dict>
</plist>